*{
  box-sizing: border-box;
  a{
    text-decoration: none;
    color: black;
  }
  ul{
    list-style-type: none;
  }
}

body{
  margin: 0;
  padding: 0;
}

.container__two{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.container{
  width: 100%;
  max-width: 870px;
  margin: 0 auto; 
  padding: 0 15px;
}