.about__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
}

.about__left {
  width: 50%;
}

.about__left_box_1 {
  background-image: url('../../img/vector.svg');
  background-position: calc(10px) 300px;
  background-size: 20px 100px;
  background-repeat: no-repeat;
}

.about__left_box_2 {
  background-image: url('../../img/vector.svg');
  background-position: calc(10px) 430px;
  background-size: 20px 100px;
  background-repeat: no-repeat;
}

.about__left_box_3 {
  background-image: url('../../img/vector.svg');
  background-position: calc(10px) 430px;
  background-size: 20px 100px;
  background-repeat: no-repeat;
}


.about__right_box_1{
  background-image: url('../../img/vector-top.svg');
  background-position: 0% 100px;
  background-size: 20px 300px;
  background-repeat: no-repeat;
}
.about__right_box_2{
  background-image: url('../../img/vector-top.svg');
  background-position: 0% 100px;
  background-size: 20px 300px;
  background-repeat: no-repeat;
}


.about__right_box_3{
  background-image: url('../../img/vector-top.svg');
  background-position: 0% 100px;
  background-size: 20px 300px;
  background-repeat: no-repeat;
}

.about__right_box_3>img{
  width: 100%;
}


.about__right_box_1>p,h4{
  margin-left: 40px;
}

.about__right_box_2>p,h4{
  margin-left: 40px;
}


.about__right_box_3>p,h4{
  margin-left: 40px;
}


.about__left>div>img {
  width: 80%;
}

.about__left>div>h4 {
  margin-left: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.about__left>div>p {
  margin-left: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.about__right{
  width: 50%;
}

.about__right>div{
  
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 500px) {
  .about__inner {
    display: block;
  }
  .about__left {
    width: 100%;
  }
  .about__right{
    width: 100%;
  }
  
} 